{%extends 'index.html'%}
{%block title%}
{{board.name}}
{%endblock%}
{%block breadcrumb%}
<div class="col-10 offset-2 mt-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item fs-1">Main</li>
        <li class="breadcrumb-item fs-1"><a href="{%url 'main'%}">Boards</a></li>
        <li class="breadcrumb-item active fs-1">{{board.name}}</li>
    </ol>
</div>
{%endblock%}
{%block content%}
<div class="container">
    <h4>Topics</h4><br><br>
    <a class="btn btn-success" href="{%url 'new_topic' board.id%}">Create New Topic</a><br><br>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Topic</th>
                    <th>Created_by</th>
                    <th>Posts</th>
                    <th>View</th>
                    <th>Created_at</th>
                </tr>
            </thead>
            <tbody>
                {% for topic in topics%}
                <tr>
                    <td><a href="{%url 'topic' topic.board.id topic.id%}">{{topic.subject}}</a>
                    </td>
                    <td>{{topic.created_by}}</td>
                    <td>{{topic.comments}}</td>
                    <td>{{topic.views}}</td>
                    <td>{{topic.created_at}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <ul class="pagination">
            {%if topics.has_previous%}
            <li class="page-item">
                <a class="page-link" href="?page={{topics.previous_page_number}}">Previous</a>
            </li>
            {%endif%}
            {%for page in topics.paginator.page_range%}
            {%if topics.number == page%}
            <li class="page-item active">
                <a class="page-link" href="?page={{page}}">{{page}}</a>
                <span>Current</span>
            </li>
            {%else%}
            <li class="page-item">
                <a class="page-link" href="?page={{page}}">{{page}}</a>
            </li>
            {%endif%}
            {%endfor%}
            {%if topics.has_next%}
            <li class="page-item">
                <a class="page-link" href="?page={{topics.next_page_number}}">Next</a>
            </li>
            {%else%}
            <li class="page-item disable">
                Next
            </li>
            {%endif%}
        </ul>
    </div>
</div>
{%endblock%}