{%extends 'index.html'%}
{%block title%}
Delete Media
{%endblock%}

{%block content%}
<div class="col-8 offset-2 mt-4">
    {% if choice == 'image'%}
    <p class="alert alert-danger">Do you want to delete : {{photo.images}}?</p>
    {%else%}
    <p class="alert alert-danger">Do you want to delete : {{photo.file}}?</p>
    {%endif%}
    <form action="" method="post">
        {%csrf_token%}
        <br>
        <button class="btn btn-warning" type="submit" onclick="del()">Confirm</button>
    </form>
</div>
<script>
    function del(){
        alert("deleted successfully")
    }

</script>
{%endblock%}
