{%extends 'index.html'%}
{%block title%}
Delete Patient
{%endblock%}
{%block breadcrumb%}
<div class="col-10 offset-2 mt-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item fs-1">Patients</li>
        <li class="breadcrumb-item fs-1 active">Deleting > {{patient.name}}</li>
    </ol>
</div>
{%endblock%}
{%block content%}
<div class="col-6 offset-2 mt-4">
    <div class="row">
        <div class="col-10">
    <form action="" method="post">
        {%csrf_token%}
        
        <input  type="submit" value="Confirm" name="submit" onclick="del()">
    </form>
    </div>
    
    </div>
    
</div>
<script>
     function del(){
        alert("deleted successfully")
     }
     
</script>
{%endblock%}