{%extends 'index.html'%}

{%block title%}
Add Media
{%endblock%}
{%block breadcrumb%}
<div class="col-10 offset-2 mt-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item fs-1">Main</li>
        <li class="breadcrumb-item fs-1"><a href="{%url 'patients'%}">Patients</a></li>
        <li class="breadcrumb-item fs-1 active">{{photo.patient.name}}</li>
    </ol>
</div>
{%endblock%}
{%block content%}
<div class="col-6 offset-2 mt-4">
    <div class="row">
        <div class="col-10">
    <form action="" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        {%include 'home/form.html'%}
        <br>
        <input  type="submit" value="Upload" name="submit" onclick="edit()">
    </form>
    </div>
    <div class="col-2">
        <a href="{%url 'delete_media' photo.patient.id photo.id%}">Delete</a>
    </div>
    </div>
    
</div>
<script>
     function edit(){
        alert("updated successfully")
     }
     
</script>
{%endblock%}
