{%extends 'index.html'%}
{%block title%}
Dr.Ali Clinic
{%endblock%}
{%block breadcrumb%}
<div class="col-10 offset-2 mt-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active fs-1">Main</li>
    </ol>
</div>
{%endblock%}
{%block content %}
<div class="container">
    <h4>Boards</h4>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Board</th>
                    <th>Topics</th>
                    <th>Posts</th>
                    <th>Last Post</th>
                </tr>
            </thead>
            <tbody>
                {% for board in boards%}
                <tr>
                    <td><a href="{%url 'board' board.id%}">{{board.name}}</a>
                        <small class="text-muted d-flex">{{board.description}}</small>
                    </td>
                    <td>{{board.topics.count}}</td>
                    <td>{{board.get_posts}}</td>
                    {% with post=board.get_last_post%}
                    {%if post%} 
                    <td>by {{board.get_last_post.created_by}} at {{board.get_last_post.created_at}}</td>
                    {%else%}
                    <td><small class="text-muted">No posts yet</small></td>
                    {%endif%}
                    {%endwith%}
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>

    
<p class="col-3 offset-2 my-4 fs-2 text-danger" style="text-decoration: underline;">News</p>
<div class="container">
{%for item in news%}
<div class="row w-75">
    <div class="col-6">
        <p><strong>{{item.name}}</strong></p>
        <p>{{item.content}}</p>
        <a style="text-decoration: none;color: red;" class="p-1" href="{%url 'delete_news' item.id%}">Delete</a>
        <a style="text-decoration: none;" class="p-1"  href="{%url 'edit_news' item.id%}"">Edit</a>
    </div>
    <div class="col-3">
        <small class="text-muted">{{item.created_at}}</small>
    </div>
</div>
{%endfor%}
</div>
    
</div>

{%endblock%}