{%extends 'index.html'%}
{%block title%}
Dr.Ali Clinic
{%endblock%}
{%block breadcrumb%}
<div class="col-10 offset-2 mt-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active fs-1">Main</li>
    </ol>
</div>
{%endblock%}
{%block content %}
<div class="container">
    <h4>Boards</h4>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Board</th>
                    <th>Topics</th>
                    <th>Posts</th>
                    <th>Last Post</th>
                </tr>
            </thead>
            <tbody>
                {% for board in boards%}
                <tr>
                    <td><a href="{%url 'board' board.id%}">{{board.name}}</a>
                        <small class="text-muted d-flex">{{board.description}}</small>
                    </td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>

    
<h4>News</h4>
<div class="container">
    <p><strong><a href="">Lorem</a></strong> ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam repellat quidem neque sit quasi saepe pariatur quod? Nihil cumque exercitationem aspernatur doloremque, molestias repellat? Perspiciatis excepturi illo vel voluptas saepe?</p>
    <p><strong><a href="">Lorem</a></strong> ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam repellat quidem neque sit quasi saepe pariatur quod? Nihil cumque exercitationem aspernatur doloremque, molestias repellat? Perspiciatis excepturi illo vel voluptas saepe?</p>
    <p><strong><a href="">Lorem</a></strong> ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam repellat quidem neque sit quasi saepe pariatur quod? Nihil cumque exercitationem aspernatur doloremque, molestias repellat? Perspiciatis excepturi illo vel voluptas saepe?</p>

</div>
    
</div>

{%endblock%}