{%extends 'index.html'%}
{%block title%}
Patient
{%endblock%}
{%block breadcrumb%}
<div class="col-6 offset-5 mb-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{%url 'patients'%}">All patients</a></li>
        <li class="breadcrumb-item active">{{patient.name}}</li>
    </ol>
</div>
{%endblock%}
{%block content%}
<div class="container">
    <div class="row justify-content-between my-4">
        <div class="col-4">
            <a class="my-4 text-success fs-4" href="{%url 'new_visit' patient.id%}">Add new visit</a>
        </div>
        <div class="col-4">
            <a class="my-4 text-secondary fs-4" href="{%url 'make_pill' patient.id%}">Make new Pill</a>
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>name</th>
                    <th>age</th>
                    <th>gender</th>
                    <th>address</th>
                    <th>visit</th>
                    <th>date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{patient.name}}</td>
                    <td>{{patient.age}}</td>
                    <td>{{patient.gender}}</td>
                    <td>{{patient.address}}</td>
                    <td>{{patient.visits}}</td>
                    <td>{{patient.visit_date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <a href="{%url 'add_media' patient.id %}">Add Files</a>

    {%for photo in patient.files.all%}
    <div class="card">
        <div class="card-body mb-4">
            <div class="row justify-content-between">
                <div class="col-6">
                    <!-- should ad if to prevent photo has no immages -->
                    {%if photo.images%}
                    <a href="{%url 'download_image' patient.id %}?path={{photo.images}}"><img class="w-75" src="{{photo.images.url}}" alt="{{photo.add_at}}"></a>
                    {%endif%}
                    <a href="{%url 'download_file' patient.id %}?path={{photo.file}}">{{photo.file}}</a>
                </div>
                <div class="col-4 text-muted">
                    {{photo.add_at}}
                    <br>
                    <a href="{%url 'edit_media' patient.id photo.id%}">Edit</a>
                    <br>
                    <a href="{%url 'delete_entire_media' patient.id photo.id%}">Delete</a>
                </div>


            </div>
        </div>

    </div>
    {%endfor%}
</div>
{%endblock%}