{%extends 'index.html'%}
{%block title%}
Patient
{%endblock%}
{%block breadcrumb%}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{%url 'patients'%}">All patients</a></li>
    <li class="breadcrumb-item active">{{patient.name}}</li>
</ol>
{%endblock%}
{%block content%}
<div class="container">
    <a href="{%url 'new_visit' patient.id%}">Add new visit</a>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>name</th>
                    <th>age</th>
                    <th>gender</th>
                    <th>address</th>
                    <th>visit</th>
                    <th>date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{patient.name}}</td>
                    <td>{{patient.age}}</td>
                    <td>{{patient.gender}}</td>
                    <td>{{patient.address}}</td>
                    <td>{{patient.visits}}</td>
                    <td>{{patient.visit_date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <a href="{%url 'add_media' patient.id %}">Add Files</a>
        
        {%for photo in patient.images.all%}
        <div class="card my-5">
            <div class="card-body mb-4">
                <div class="row justify-content-between">
                    <div class="col-6"><a href=""><img class="w-75" src="{{photo.images.url}}" alt="{{photo.add_at}}"></a></div>
                    <div class="col-2 text-muted">
                        {{photo.add_at}}
                        <br>
                        <a href="{%url 'edit_media' patient.id photo.id%}">Edit</a>
                    </div>
                    
                    
                </div>
            </div>
        
    </div>
    {%endfor%}
</div>
{%endblock%}