{%extends 'index.html'%}
{%load static%}
{%block title%}
Reply
{%endblock%}
{%block breadcrumb%}
<div class="col-10 offset-2 mt-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item fs-1">Main</li>
        <li class="breadcrumb-item fs-1"><a href="{%url 'main'%}">Boards</a></li>
        <li class="breadcrumb-item fs-1"><a href="{%url 'board' topic.board.id%}">{{topic.board.name}}</a></li>
        <li class="breadcrumb-item fs-1">{{topic.subject}}</li>
        <li class="breadcrumb-item fs-1 active">Reply</li>
    </ol>
</div>
{%endblock%}
{%block content%}
<div class="container">
    <form action="" method="post" novalidate>
        {%csrf_token%}
        <!-- {{form.as_p}} -->
        {%include 'home/form.html'%}
        <br>
        <button class="btn btn-success mb-4" type="submit">Post</button>
    </form>
</div>
<div class="container">
    {%for post in topic.posts.all%}
    <div class="card my-4">
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <img src="{% static 'images/user.png' %}" class="w-50" alt="{{post.created_by}}">
                </div>
                <div class="col-7">
                    <div class="row">
                        <div class="col-8">
                            <strong>{{post.created_by}}</strong>
                            <p>{{post.message}}</p>
                            {%if post.created_by == user%}
                            <a class="btn btn-primary" href="{%url 'edit_post' post.topic.board.id post.topic.id post.id%}">Edit</a>
                            {%endif%}
                        </div>
                        <div class="col-4">
                            <small>{{post.created_at}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endfor%}
</div>
{%endblock%}